{
	# acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
	acme_ca https://acme-v02.api.letsencrypt.org/directory
	acme_dns cloudflare {$CLOUDFLARE_API_KEY}
	email {$LETSENCRYPT_CERT_EMAIL}

	storage file_system {
		root /srv/caddy/data
	}

	servers {
		trusted_proxies cloudflare {
			interval 12h
			timeout 15s
		}
	}

	log {
		output stdout
		format json
		level info
	}
}

polyfrost.cc, *.polyfrost.cc, polyfrost.org, *.polyfrost.org {
	## Tell search engines to ignore .cc domains
	@cc host polyfrost.cc *.polyfrost.cc
	header @cc +X-Robots-Tag noindex
	@ccindex host polyfrost.cc
	redir @ccindex https://polyfrost.org{uri}

	## Setup subdomain matchers
	@index host polyfrost.cc polyfrost.org www.polyfrost.cc www.polyfrost.org
	@maven host repo.polyfrost.cc repo.polyfrost.org
	@api host api.polyfrost.cc api.polyfrost.org
	@plausible host analytics.polyfrost.org
	@grafana host dash.polyfrost.org

	## Handle individual subdomains
	handle @index {
		# Redirections for the index domains
		redir /discord https://discord.gg/N4qW7TW3dv 302
		redir /oneconfig https://polyfrost.org/projects/oneconfig 302
		redir /oneconfig/ https://polyfrost.org/projects/oneconfig 302

		handle /cities500.json {
			header Access-Control-Allow-Origin *
			header Access-Control-Allow-Methods GET

			file_server {
				root /srv/caddy/static
			}
		}

		# Otherwise use static file host
		file_server {
			root /srv/caddy/static/index
		}
	}

	handle @maven {
		# Reverse proxy to reposilite
		reverse_proxy reposilite:8080
	}

	handle @api {
		handle_path /metrics {
			respond "Not found" 404
		}

		# Individual ursa instances
		handle_path /ursa/* {
			@hytils header User-Agent Hytils-Reborn/*
			@dsm header User-Agent Dsm/*
			@pss header User-Agent Partly-Sane-Skies/*

			reverse_proxy @hytils hytils-ursa-minor:3000
			reverse_proxy @dsm dsm-ursa-minor:3000
			reverse_proxy @pss pss-ursa-minor:3000
		}

		# Reverse proxy everything else to backend-rs
		reverse_proxy backend-rs:8080
	}

	handle @plausible {
		reverse_proxy plausible:80
	}

	handle @grafana {
		reverse_proxy grafana:3000
	}

	respond "Not found (caddy)" 404
}
